.main-content {
    padding: 2vh 5vw;
}

.content-bpsc {
    width: 70%;

}

.bpscImg img{
    width: 90%;
}

.content-bpsc .fourZero {
    font-size: 28px;
    font-weight: bold;
}

.content-bpsc .bpsc-italic {
    font-size: 22px;
    font-style: italic;
}

.content-bpsc .bpsc-normal {
    font-size: 20px;
    margin-top: 15px;
}

.content-bpsc .threeZero {
    font-size: 28px;
    color: #333399;

}

/* TRE 3.0 table  */
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 70%;
}

table .rowData td {
    border: 1px solid black;
    height: 140px;
}

.tble-hed td {
    text-align: center;
    background: #FC3A52;
    padding: 20px;
    font-weight: 667;
    color: #FFFFFF;
    font-size: 28px;
}

.rowData ul li {
    font-size: 20px;
    text-decoration: underline;
    color: #2600FF;
    cursor: pointer;
    transition-duration: 0.1s;
    width: 350px;
}

.rowData ul li:hover {
    font-weight: 600;
    color: red;
}

.cell-text {
    text-align: center;
    /* Horizontally centers content */
    vertical-align: middle;
    /* Vertically centers content */
    padding: 8px;
    /* Optional: adds space inside cells */
    border: 1px solid #ddd;
    font-size: 20px;
    font-weight: 700;
}

@media(max-width: 880px) {
    .content-bpsc {
        width: 100%;
    }

    table {
        width: 100%;
    }

    .rowData ul li {
        width: auto;
    }
}

@media(max-width: 680px) {
    .content-bpsc {
        width: 100%;
    }

    table {
        width: 100%;
    }

    .content-bpsc .fourZero {
        font-size: 20px;
    }

    .content-bpsc .bpsc-italic {
        font-size: 16px;
    }

    .content-bpsc .bpsc-normal {
        font-size: 15px;
    }

    .content-bpsc .threeZero {
        font-size: 20px;
    }

    .tble-hed td {
        font-size: 20px;
        padding: 10px;
    }

    .rowData ul li {
        font-size: 16px;
    }

    .cell-text {
        font-size: 16px;
    }
}

@media(max-width: 320px) {
    .content-bpsc .fourZero {
        font-size: 16px;
    }

    .content-bpsc .bpsc-italic {
        font-size: 13px;
    }

    .content-bpsc .bpsc-normal {
        font-size: 13px;
    }

    .content-bpsc .threeZero {
        font-size: 16px;
    }

    .tble-hed td {
        font-size: 16px;
        padding: 5px;
    }

    .rowData ul li {
        font-size: 12px;
    }

    .cell-text {
        font-size: 12px;
    }
}